<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    作者
1．作者署名的规范　作者署名置于题名下方，团体作者的执笔人，也可标注于篇首页地脚位置。有时，作者姓名亦可标注于正文末尾。　示例：王军1，张红2，刘力1
　　（1．××师范大学物理系，北京 100875 2．××教育学院物理系，北京100011）翻译作者及其单位名称的注意 事项
　　①翻译单位名称不要采取缩写，要由小到大写全，并附地址和邮政编码，确保联系方便。
　　②翻译单位名称要采用该单位统一的译法。
　　③作者姓名按汉语拼音拼写，采用姓前名后，中间为空格，姓氏的全部字母均大字，复姓连写；名字的首字母大字，双名中间加连字符，姓氏与名均不缩写。
　　例如：
　　LI Hua（李华），ZHANG Xi-he（张锡和），ZHUGE Ying（诸葛颖）
摘要
随着计算机技术和因特网的迅猛发展，网上查询、检索和下载专业数据已成为当前科技信息情报检索的重要手段，对于网上各类全文数据库或文摘数据库，论文摘要的索引是读者检索文献的重要工具，为科技情报文献检索数据库的建设和维护提供方便。摘要是对论文综合的介绍，使人了解论文阐述的主要内容。论文发表后，文摘杂志或各种数据库对摘要可以不作修改或稍作修改而直接利用，让读者尽快了解论文的主要内容，以补充题名的不足，从而避免他人编写摘要可能产生的误解、欠缺甚至错误。所以论文摘要的质量高低，直接影响着论文的被检索率和被引频次。
　　1．摘要的规范
　　摘要是对论文的内容不加注释和评论的简短陈述，要求扼要地说明研究工作的目的、研究方法和最终结论等，重点是结论，是一篇具有独立性和完整性的短文，可以引用、推广。
　　2．撰写摘要注意事项
　　①不得简单重复题名中已有的信息，忌讳把引言中出现的内容写入摘要，不要照搬论文正文中的小标题（目录）或论文结论部分的文字，也不要诠释论文内容。
　　②尽量采用文字叙述，不要将文中的数据罗列在摘要中；文字要简洁，应排除本学科领域已成为常识的内容，应删除无意义的或不必要的字眼；内容不宜展开论证说明，不要列举例证，不介绍研究过程；
　　③摘要的内容必须完整，不能把论文中所阐述的主要内容（或观点）遗漏，应写成一篇可以独立使用的短文。
　　④摘要一般不分段，切忌以条列式书写法。陈述要客观，对研究过程、方法和成果等不宜作主观评价，也不宜与别人的研究作对比说明。
　　3．撰写英文摘要注意事项
　　以上中文摘要编写的注意事项都适用于英文摘要，但英语有其自己的表达方式、语言习惯，在撰写英文摘要时应特别注意。
关键词
1．关键词规范
　　关键词是反映论文主题概念的词或词组，通常以与正文不同的字体字号编排在摘要下方。一般每篇可选3~8个，多个关键词之间用分号分隔，按词条的外延（概念范围）层次从大到小排列。
关键词一般是名词性的词或词组，个别情况下也有动词性的词或词组。
　　应标注与中文关键词对应的英文关键词。编排上中文在前，外文在后。中文关键词前以“关键词：”或“[关键词]”作为标识；英文关键词前以“Key words：”作为标识。
　　关键词应尽量从国家标准《汉语主题词表》中选用；未被词表收录的新学科、新技术中的重要术语和地区、人物、文献等名称，也可作为关键词标注。关键词应采用能覆盖论文主要内容的通用技术词条。
　　2．选择关键词的方法
　　关键词的一般选择方法是：由作者在完成论文写作后，从其题名、层次标题和正文（出现频率较高且比较关键的词）中选出来。
</p>
<h1 id="part4">Part Four: Grapefruit from Heaven</h1>
<h1 id="part5">Part Five: Get account</h1>
</body>
</html>